

#nav-bar {
    background-color: #00a087;

    height: 80px;
    padding: 0 2em;
    position: fixed;
    width: 100%;
}

#nav-bar .logo {
  float: left;
  height: = 80px;
  width: 80px;
}

#nav-bar .header {
  color: #e8fdff;
  float: left;
  font-size: 2em;
  padding-left: 10px;
  line-height: 80px;
}

