
.old-tweets .tweet {
  opacity: 0.75;
}

.old-tweets .tweet:hover {
  opacity: 1.0
}

.old-tweets:hover .icons {
  opacity: 1;
}

.old-tweets {
  height: 200px;
  margin-top: 1em;
}

.old-tweets .user-icon {
  background-color: red;
  border-radius: 10px;
  margin-right: 0.75em;
  width: 60px;
}

.user-icon img {
  width:100%;
}

.user-name {
  align-self: flex-start;
}

.user-handle {
  margin-left: auto;
}

.tweet-body {
  padding: 0.5em;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}


.old-tweets header {
  background-color: #e4e4e4;
  border: 1px solid #cccccc;
  border-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  font-size: 1em;
  padding: 0.5em;
}

/*.old-tweets h2 {
  margin: 0;
}*/


.old-tweets footer {
  border: 1px solid #cccccc;
  border-radius: 0px 0px 10px 10px;
  /*border-top: 1px solid #cccccc;*/
  height: 2em;
}

.old-tweets .icons {
  float: right;
  line-height: 2em;
  padding-right: 0.5em;
  opacity: 0;
}

.old-tweets .icons:hover {
  float: right;
  line-height: 2em;
  padding-right: 0.5em;
  opacity: 1;
}

.old-tweets .date {
  color: #a2a2a2;
  float: left;
  font-size: 1em;
  font-style: italic;
  line-height: 2em;
  padding-left: 0.5em;
}