article {
  margin: 1em 0;
}

.old-tweets .tweet {
  opacity: 0.75;
}

.old-tweets .tweet:hover {
  opacity: 1.0
}

.old-tweets:hover .icons {
  opacity: 1;
}

.old-tweets {
  margin-top: 1em;
}



/*Header Elements*/

.old-tweets header {
  background-color: #e4e4e4;
  border: 1px solid #cccccc;
  border-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  /*display: flex;*/
  font-size: 1em;
  padding: 0.5em;
}

.old-tweets .avatar {
  display: inline-block;
  margin-right: 0.75em;
  max-height: 50px;
  max-width: 50px;
}

.avatar img {
  border: 1px solid #cccccc;
  border-radius: 10px;
  width:100%;
}

.username {
  /*align-self: flex-start;*/
  display: inline-block;
  vertical-align: top;
}

.handle {
  display: inline-block;
  float: right;
  margin-left: auto;
}


/*Tweet Body*/

.tweet-body {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  overflow-wrap: break-word;
  padding: 0.5em;
}


/*.old-tweets h2 {
  margin: 0;
}*/


/*Footer Elements*/

.old-tweets footer {
  border: 1px solid #cccccc;
  border-radius: 0px 0px 10px 10px;
  /*border-top: 1px solid #cccccc;*/
  height: 2em;
}

.old-tweets .icons {
  float: right;
  line-height: 2em;
  padding-right: 0.5em;
  opacity: 0;
}

.old-tweets .icons:hover {
  float: right;
  line-height: 2em;
  padding-right: 0.5em;
  opacity: 1;
}

.old-tweets .timestamp {
  color: #a2a2a2;
  float: left;
  font-size: 1em;
  font-style: italic;
  line-height: 2em;
  padding-left: 0.5em;
}