.avatar img {
  border: 1px solid #cccccc;
  border-radius: 10px;
  width:100%;
}

.handle {
  display: inline-block;
  float: right;
  margin-left: auto;
}

/*Flag-Retweet-Like icons*/
.icons {
  float: right;
  line-height: 2em;
  rcpadding-right: 8px;
  visibility: hidden;
}

.icons i {
  margin-right: 10px;
}

.old-tweets .avatar {
  display: inline-block;
  margin-right: 0.75em;
  max-height: 50px;
  max-width: 50px;
}

.old-tweets footer {
  border: 1px solid #cccccc;
  border-radius: 0px 0px 10px 10px;
  height: 2em;
}

/*Section containing all previous tweets*/
.old-tweets h2 {
  margin: 0;
}

.old-tweets header {
  background-color: #e4e4e4;
  border: 1px solid #cccccc;
  border-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  /*display: flex;*/
  font-size: 1em;
  padding: 0.5em;
}

.old-tweets .timestamp {
  color: #a2a2a2;
  float: left;
  font-size: 1em;
  font-style: italic;
  line-height: 2em;
  padding-left: 0.5em;
}

.tweet {
  margin-top: 1em;
  opacity: 0.5;
}

.tweet-body {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  overflow-wrap: break-word;
  padding: 0.5em;
}

.tweet:hover {
  opacity: 1.0
}

.tweet:hover > footer .icons {
  visibility: visible;
}

.username {
  display: inline-block;
  vertical-align: top;
}